<h1>Edit Trip Details </h1>

<div class="container">
  <%= form_with model: @trip, url: update_trip_path, method: :patch, local: true do |form| %>
  <%= render partial: 'form', locals: { form: form } %>
  <% end %>
</div>

<div>
  <%= link_to "Back to trips", trips_path %>
</div>


