<h1>Editing vehicle</h1>




<div class="container">
  <%= form_with model: @vehicle, url: update_vehicle_path, method: :patch, local: true do |form| %>
  <%= render partial: 'vehTable', locals: { form: form } %>
  <% end %>
</div>

<div>
  <%= link_to "Back to vehicles", vehicles_path %>
</div>
