<h1>New vehicle</h1>

<div class="container">
  <%= form_with model: @vehicle, url: create_vehicle_path(@vehicle), method: :post, local: true do |form| %>
    <%= render partial: 'vehTable', locals: { form: form } %>
  <% end %>
</div>

<div>
  <%= link_to "Back to vehicles", vehicles_path %>
</div>
