<h1>Edit Expense Details </h1>

<div class="container">
  <%= form_with model: @expense, url: update_expense_path, method: :patch, local: true do |form| %>
  <%= render partial: 'exp_form', locals: { form: form } %>
  <% end %>
</div>

<div>
  <%= link_to "Back to Expenses", expenses_path %>
</div>


